.hello-world-component {
  background-color: lightcyan;
  padding: 2px 4px;
  border-radius: 4px;
  color: #304455;
  border: 1px solid red;

  button {
    background-color: orange;
    color: white;
  }
}
